/* @media screen and (max-width: 1350px){
    .foto{
        height:80px;
        margin-left:10%;
        margin-top:1%;
    }
    label{
        color: #003844;
        font-size: 16px;
        font-weight: 600;
        margin-top: 5%;
    }
    form{

    }
} */