*{
    margin:0px;
    padding:0px
}
img{
    width:10%;
}
#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1280px;
    grid-gap: 40px;
    margin: 0 auto;
    
}
.fundo{
    background:rgba(0, 56, 68, 0.15);
}

@media only screen and (max-width: 750px) {
    #main {
        grid-template-columns: 1fr;
        display: block;
    }


    .extra {
        display: none;
    }
  }

#form-btn {
    margin-bottom: 0;
}

#form-btn-pop {
    margin-bottom: 0;
}

#hero {
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-image: url(./images/background-photo.jpg);
    background-position: center top;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    max-width: 1280px;
    margin: 20px auto;
    margin-top: 20px;
    padding-left: 40px;
}

#counter {
    background: #095c58;
    color: white;
    font-family: 'Poppins';
    padding: 20px;
    text-align: center;
}

#logo-img {
    min-width: 100px;
}

#hero-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center; 
    column-gap: 40px;
}

#extra2 p {
    font-family: 'Poppins';
    font-size: 0.8em;
    margin-top: 20px;
    color: #003844;
}

#form-box h3 {
    font-family: 'Poppins';
    margin-bottom: 20px;
}

@media only screen and (min-width: 750px) {
    #extra2 {
        display: none;
    }

    #hero-content {

    margin-bottom: 40px;
    }

   #form-box {
    justify-self: end;
    align-self: center;
    margin-bottom: 50px;
    margin: 20px;
   }

   
   h1 {
    margin-bottom: 40px;
    margin-top: 20px;
   }
   #hero {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); 
   }
  }

@media only screen and (max-width: 750px) {
    #hero-content {
        grid-template-columns: 1fr;

    }

    #counter {
        font-size: 0.8em;
    }

    #counter h3 {
        display: inline;
    }

    #form-box {
        margin: 0 auto;
        justify-self: center;
        margin-bottom: -20px;
    }
    #titulo {
    text-align: center;
    margin-left: 10%;
    }
    h1 {
        font-size: 1.25em;
    }
  }

#form-box {
    background: white;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-width: 400px;
    width: 100%;
  box-sizing: border-box;
  color:#003844;
}


#form-box form {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Poppins';
    color:#003844;
}

#text1 {
    margin: 30px;
    font-family: 'Poppins';
    grid-column: 2;
    color: #003844;
}

#quem-somos {
    grid-row: 2;
    grid-column: 1;
    margin: 30px;
    font-family: 'Poppins';
    color: #003844;
}

#logo-final {
    grid-row: 2;
    grid-column: 2;
}



input{
    background: none;
    border:none;
    color:#6F6F6F;
    padding: 10px;
    margin-bottom: 20px;
}
.input{
    border-bottom: solid 1px #000000;
    border-radius:1px;
    color: #003844;
}
input.botao{
    color:white;
    background:#0C7771;
    border-radius:10px;
    border:none;
    padding: 10px;
    width: 200px;
    font-weight: bold;
    font-family: 'Poppins';
    place-self: center;

}
input.botao:hover{
    background:#095c58;
}

#logo-color {
    width: 80%;
}

hr{
    background:#0C7771;
    height:2px;
    width: 297px;
    margin-top:1%
}

p {
    margin-top: 40px;
    margin-bottom: 20px;
}

footer {
    padding: 30px;
    background: #095c58;
    margin-top: 40px;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
}

h1 {
    font-family: 'Poppins';
    font-weight: normal;
    color:#003844;
}

#titulo {
    grid-row: 1;
    margin: 20px;
    font-size: 1.15em;
    color: #003844;
    margin-left: 10%;
}

ul{
    color:#003844;
    font-family: 'Poppins';
    font-size:20px;
}

.solucionar{
    color:#003844;
    font-family: 'Poppins';
    font-size:20px;
    font-weight: 600;

}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#close-pop {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: transparent;
    border: none;
    color: #095c58;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* 
#pop-chato {
    background-color: white;
} */

#ja-vai {
    padding: 40px;
    background-color: #fff;
    height: 100%;
    box-sizing: border-box;
}

#ja-vai h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #095c58;
}

#ja-vai h3 {
    color: #095c58;
}

#ja-vai p {
    margin-top: 20px;
    color: #095c58;
}

#form-pop {
    padding: 40px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

#form-pop input {
    border-bottom: 1px solid white;
    margin-bottom: 0;
}

#form-pop input::placeholder {
    color: #6b8b8a;
}

#form-btn-pop {
    background: #fff;
    color: #095c58;
    grid-column: 1/3;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* codigo do popup */

.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(33, 33, 33, 0.8);
}

.newsletter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: hidden;
    box-shadow: 5px 30px 50px rgba(0, 0, 0, 0.315);
    background-color: #095c58;
    align-items: center;
    font-family: 'Poppins';
}


.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(33, 33, 33, 0.8);
    transform: translateY(60%) scale(0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

 .exit-intent-popup.visible {
     transform: translateY(0) scale(1);
 }

 .close {
     padding: 5px;
 }