*{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}


#header {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 20px;
    align-items: center;
}

#hamburger {
    max-width: 40px;
}

#logo {
    max-width: 220px;
    margin-top: 5px;
}

#menu, #menu-mobile {
    text-align: right;
}


#menu button {
    padding: 10px;
    margin: 5px;
    background: transparent;
    border: none;
    color: #3A0C74;
    font-size: 1.1em;
}

#menu button:hover {
    background: #3b0c7411;
    border-radius: 10px;
}

#open-menu {
    background: #3A0C74;
    height: 100vh;
    width: 85%;
    min-width: 300px;
    max-width: 500px;
    position: fixed;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 200px 0 0px rgba(0, 0, 0, 0.418);
    opacity: 1;
    transition: opacity 2s ease-out;
}


#open-menu img {
    margin-bottom: 70px;
}

#open-menu div {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #e4b2bb;
}

#open-menu a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.5em;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 20px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title-pai {
    background: #D9BFD4;
    background-image: url(images/bolinhas.png);
    background-size: cover;
    background-position: center;
}

#hero-title {
    max-width: 570px;
    padding: 40px 20px 40px 40px;
    box-sizing: border-box;
}

#hero-title h1 {
    font-size: 2.5em;
    margin: 40px 0 0 0;
    font-family: 'Roboto', sans-serif;
    color: #3A0C74;
    font-weight: 700;
    line-height: 1.5;
}

#hero-title p{
    margin: 20px 0;
}

#hero-title button {
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    background: #3A0C74;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

#hero-title button:hover {
    background: #260947;
}

#hero-image {

    background-image: url(images/background-women.jpg);
    background-position: right;
}

#hero-image img {
    width: 100%;
}

.tema {
    border-radius: 10px;
    height: 400px;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  padding: 20px;
  -moz-box-shadow:    inset 0 -7px 9px -7px #260947;
  -webkit-box-shadow: inset 0 -7px 9px -7px #260947;
  box-shadow:         inset 0 -70px 90px -7px #260947;
  display: grid;
  align-content: space-between;
justify-content: start;
width: 100%;
box-sizing: border-box;
}

.hash-theme {
    position: relative;
}

.tema h3 {
    width: 90%;
}

.tema button {
    background: #3A0C74;
    padding: 5px 20px;
    border: none;
    color: white;
    position: absolute;
    left: -30px;
}

#tema1 {
    background-image: url(images/background-theme.jpg);
}

#tema2 {

    background-image: url(images/empreendedora-negra.jpg);
}

#tema3 {

    background-image: url(images/mulher-trabalhando.jpg);
}

#temas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    text-align: left;
    margin-top: 30px;
    justify-items: center;
}

#tema {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 50px;
  color: #3A0C74;
}

#tema p, #tema h3 {
    color: white;
}

#convidados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 20px;
  justify-content: space-between;
  margin-top: 30px;
}

.convidado {
    font-size: 0.8em;
    text-align: center;
    margin: 10px 0;
}

.convidado h5 {
    font-weight: normal;
}

.profile {
    width: 100%;
    min-width: 150px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    object-fit:cover;
}

#palestras {
    background-image: url(images/background-lines.svg);
    background-size: cover;
    padding-bottom: 60px;
}

#hora h2 {
    font-weight: normal;
}

#hora {
    text-align: center;
    font-size: 1.2em;
    margin: 0 20px;
    margin-top: 20px;
}

#data {
    margin-top: 20px;

    color: #3A0C74;
}

#acompanhe h2, #acompanhe h1 {
    color: #BF6575;
    font-family: 'Roboto';
}

.evento {
    text-align: center;
    padding: 40px 0;
}

.evento h2 {
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Roboto';
}

#inspire {
    background: #3A0C74;
    background-image: url(images/bolinhas.png);
    background-size: cover;
    color: white;
    padding-bottom: 60px;
}


#inspire h4 {
    margin-top: 10px;
}

#inspire p {
    
    max-width: 570px;
    margin: 0 auto;
    margin-top: 10px;
}

#inspire2 {
    max-width: 1140px;
    padding: 0 20px;
    margin: 20px auto;
}

#inscreva {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

#conheca {
    padding: 0 20px;
}

#conheca h2{
    color: #BF6575;
    font-size: 1.7em;
    font-weight: 700;
}

#conheca img {
    margin: 10px;
    max-width: 50px;
}


#cadastro {
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
    text-align: right;
    align-items: center;
    padding: 80px 80px 40px 80px;
    row-gap: 20px;
    color: #3A0C74;
}

#cadastro h2{
    font-size: 3em;
}

#mce-EMAIL {
    border-radius: 10px 0 0 10px;
    border: 2px solid #3A0C74;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    width: 100%;
}

#mce-EMAIL:focus {
    outline: none;
}

#mc_embed_signup_scroll {
    display: grid;
    grid-template-columns: 1fr auto;
}


#mc-embedded-subscribe {
    padding: 0 10px;
    color: white;
    border: 1px solid #3A0C74;
    border: none;
    background: #3A0C74;
    height: 50px;
    border-radius: 0 10px 10px 0;
    margin-left: -5px;
}

#mc-embedded-subscribe:hover {
    background: #260947;
}

footer {
    padding: 30px;
    background: #160D35;
    text-align: center;
    
    margin-top: 40px
}

footer p {
    color: white;;
}


@media only screen and (max-width: 767px) {
    #menu, #hero-image {
        display: none;
    }

    #hora {
        font-size: 1em;
    }
    #hero, #cadastro {
        grid-template-columns: 1fr;
    }

    #hero-title {
        padding: 40px 20px;
    }

    #cadastro {
        text-align: center;
        padding: 40px;
    }

    #cadastro h2 {
        font-size: 2em;
    }
    #conheca h2 {
        font-size: 1em;
    }

    #header {
        padding: 20px 20px 10px 20px;
    }

    .tema {
        height: 300px;
    }
  }

  @media only screen and (max-width: 400px) {
    #hero-title h1 {
        font-size: 2em;
        margin: 10px 0;
    }
    #logo {
        max-width: 180px;
    }
}


.hidden {
    display: none;
    opacity: 0;
}

.scroll {
    overflow: hidden;
    position: fixed;
}

  @media only screen and (min-width: 768px) {
    #menu-mobile {
        display: none;
    }
    #open-menu {
        display: none;
    }
  }
