#board {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 20px;
    row-gap: 20px;
}

#board > div:nth-child(10n + 6),
#board > div:nth-child(10n + 7),
#board > div:nth-child(10n + 8),
#board > div:nth-child(10n + 9),
#board > div:nth-child(10n + 10) {
  background:rgba(0,0,0,0.1);
  padding: 20px 0;    
}

#board button {
    border-radius: 2px;
    font-weight: bold;
    border: none;
    color: white;
    background: #333;
    margin-left: 10px;
}

button:focus { outline: none; }

#menu button {
  padding: 20px;
  border: none;
}

#menu button:hover{
  background: #e0e0e0;
}


#main {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 40px;
  row-gap: 20px;
  column-gap: 20px;
}


.div-bar-valid {
  background: rgb(10, 177, 255);
  border-radius: 5px 0px 0px 5px;
  border-right: 2px dotted gray;
  height: 100%;
}

.div-bar {
  background: #c6c6c6;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.active {
  border-bottom: 3px solid rgb(10, 177, 255) !important;
}

h5 {
  margin: 0;
  font-weight: normal;
  color: rgb(77, 77, 77);
}

#ordenacao {
  margin: 20px;
}



body {
  font-family: 'Open sans';
}

.whole-bar {
  width: 100%;
  height: 100%;
}

.whole-bar h5{
  display: inline;
  position: relative;
  bottom: 35%;
}

#resumo {
  margin: 20px;
}

#resumo h2, #resumo h3 {
  display: inline;
  font-weight: normal;
  color: rgb(32, 32, 32);
}


.counter {
  font-weight: bold !important;
}